#wishlist-header{
    background-image: url('../assets/images/banner.png');
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#wishlist-header h2,
#wishlist-header p{
    color: #fff;
}

.wishlist-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 25px;
}

.wishlist-card{
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.wishlist-card:hover{
    transform: translateY(-6px);
}

.wishlist-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.wishlist-content{
    padding: 20px;
}

.wishlist-content span{
    color: #777;
    font-size: 14px;
}

.wishlist-content h4{
    margin: 12px 0;
    font-size: 18px;
}

.wishlist-price{
    color: #088178;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}

.wishlist-buttons{
    display: flex;
    gap: 10px;
}

.wishlist-buttons button{
    flex: 1;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.add-cart-btn{
    background: #088178;
}

.remove-btn{
    background: crimson;
}

.empty-wishlist{
    display: none;
    text-align: center;
    padding: 80px 20px;
}

.empty-wishlist i{
    font-size: 70px;
    color: #ccc;
    margin-bottom: 20px;
}

.empty-wishlist h3{
    margin-bottom: 10px;
    font-size: 30px;
}

.empty-wishlist p{
    margin-bottom: 25px;
    color: #666;
}

.empty-wishlist a{
    display: inline-block;
    background: #088178;
    color: #fff;
    text-decoration: none;
    padding: 14px 22px;
    border-radius: 6px;
}

@media (max-width: 1024px){

    .wishlist-buttons{
        flex-direction: column;
    }

}